@model IEnumerable<MyPOS.Data.Entity.BRAND>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create") |
    @Html.ActionLink("Back to Menu", "Management", "Home")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nameBrand)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nameBrand)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idBrand }) |
            @Html.ActionLink("Details", "Details", new { id=item.idBrand }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idBrand })
        </td>
    </tr>
}

</table>
